Repository loopcrack-org/Kinub, pull requests merged in 2024-01, with the labels that each got.

#169 KIN-341 Image convertion
  .env.example
  app/Controllers/CtrlAboutUs.php
  app/Controllers/CtrlCategory.php
  app/Controllers/CtrlCertificate.php
  app/Controllers/CtrlSolution.php
  app/Libraries/tinify/Tinify.php
  app/Libraries/tinify/tinifyConvertion.php
  composer.json
  composer.lock
Labels: backend

#168 KIN-375 Add slugs to categorie, categorytags and producttags tables
  app/Database/Migrations/2023-10-17-220959_Categories.php
  app/Database/Migrations/2023-10-17-221112_CategoryTags.php
  app/Database/Migrations/2023-10-17-221756_ProductsTags.php
  app/Database/Seeds/CategorySeeder.php
  app/Database/Seeds/CategoryTagSeeder.php
  app/Database/Seeds/ProductSeeder.php
  app/Database/Seeds/ProductTagSeeder.php
  app/Models/CategoryModel.php
  app/Models/CategoryTagModel.php
  app/Models/ProductTagModel.php
  composer.json
  composer.lock
Labels: backend, setup, database

#173 KIN-385 Fix on composer lock
  composer.lock
Labels: bug

#154 KIN-340 Add the functionality to send product email and update the email table in the db
  app/Config/App.php
  app/Config/Routes.php
  app/Controllers/CtrlEmail.php
  app/Database/Migrations/2023-10-17-224228_Emails.php
  app/Models/EmailModel.php
  app/Validation/ProductEmailValidation.php
  app/Views/mailDetail.php
  app/Views/public/product.php
  src/public/js/components/alertModal.js
  src/public/js/components/productModalForm.js
  src/public/js/components/telInput.js
  src/public/js/product.js
  src/public/sass/ITCSS/06_components/pages/product/modal-form/_modal-form.scss
  src/public/sass/ITCSS/06_components/pages/product/modal-form/_tingle-modal-box.scss
  src/public/sass/ITCSS/06_components/pages/product/modal-form/_tingle-modal.scss
  src/public/sass/Pages/product.scss
  src/public/sass/plugins/_intl-tel-input.scss
Labels: backend

#171 KIN-380 Add client-side contact form validations
  app/Views/public/index.php
  src/public/js/home.js
Labels: frontend, public

#174 KIN-349 integrate with admin panel - certificates page
  app/Controllers/CtrlPublicPages.php
  app/Models/CertificateModel.php
  app/Views/public/certificates.php
Labels: backend, frontend, public
